.top-row[b-s0qd0dlr3d] {
    background-color: rgba(0,0,0,0.4);
    height: 5rem;
}

.navbar-brand[b-s0qd0dlr3d] {
    font-size: 1.1rem;
}

.bi[b-s0qd0dlr3d] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.navbar>.container-fluid[b-s0qd0dlr3d] {
    align-items: center;
    justify-content: center;
}

.nav-item[b-s0qd0dlr3d] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-s0qd0dlr3d] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-s0qd0dlr3d] {
        padding-bottom: 1rem;
    }

    .nav-item[b-s0qd0dlr3d]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-s0qd0dlr3d]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-s0qd0dlr3d]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-s0qd0dlr3d] {
        display: none;
    }

    .collapse[b-s0qd0dlr3d] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-s0qd0dlr3d] {
        /* Allow sidebar to scroll for tall menus */
        overflow-y: auto;
    }
}
