@using Microsoft.AspNetCore.Components.Sections
<span class="index-header">
    Magazyn, przepisy i projekty – ogarnięte w jednym miejscu!
</span>
<span class="index-subheader">
    Lekki system do pilnowania stanów, zużycia i projektów w małych firmach: od warsztatu samochodowego, przez kwiaciarnię, po pracownię rękodzieła.
</span>

<div class="modal-container">
    <div class="modal-index">
        <div class="modal-dialog index">
            <div class="modal-content text-light bg-dark w-100">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Dla kogo?
                    </h5>
                </div>
                <div class="modal-body">
                    <ul class="index-modal-list">
                        <li class="index-modal-item"><i class="fa-solid fa-circle-right"></i> Warsztaty samochodowe (części, materiały eksploatacyjne)</li>
                        <li class="index-modal-item"><i class="fa-solid fa-circle-right"></i> Kwiaciarnie (kwiaty cięte, dodatki, opakowania)</li>
                        <li class="index-modal-item"><i class="fa-solid fa-circle-right"></i> Małe pracownie (rękodzieło, dekoracje, świece, mydła)</li>
                        <li class="index-modal-item"><i class="fa-solid fa-circle-right"></i> Salony beauty i fryzjerskie (kosmetyki, farby, jednorazówki)</li>
                        <li class="index-modal-item"><i class="fa-solid fa-circle-right"></i> Mała gastronomia / catering (składniki, półprodukty)</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="modal-dialog index">
            <div class="modal-content text-light bg-dark w-100">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Co możesz zrobić w Magazynku?
                    </h5>
                </div>
                <div class="modal-body">
                    <ul class="index-modal-list">
                        <li class="index-modal-item">
                            <i class="fa-solid fa-circle-right"></i> Definiować produkty
                            <span class="index-modal-text">
                                Nazwa, jednostka, kategoria, minimalny stan
                            </span>
                        </li>
                        <li class="index-modal-item">
                        <i class="fa-solid fa-circle-right"></i>  Prowadzić stany magazynowe
                            <span class="index-modal-text">
                                Widzisz, ile czego masz na półce
                            </span>
                        </li>
                        <li class="index-modal-item">
                            <i class="fa-solid fa-circle-right"></i>  Budować projekty / „przepisy”
                            <span class="index-modal-text">
                                np. „Wymiana klocków hamulcowych”, „Bukiet ślubny”, „Zestaw prezentowy”
                            </span>
                        </li>
                        <li class="index-modal-item">
                            <i class="fa-solid fa-circle-right"></i> Automatycznie odpisywać zużycie
                            <span class="index-modal-text">
                                Realizujesz projekt ⇒ Magazynek zmniejsza stany produktów
                            </span>
                        </li>
                        <li class="index-modal-item">
                            <i class="fa-solid fa-circle-right"></i> Analizować, co się zużywa najszybciej
                            <span class="index-modal-text">
                                Łatwiej zaplanować zakupy i uniknąć braków
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="modal-dialog index">
            <div class="modal-content text-light bg-dark w-100">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Jak to pomaga w praktyce?
                    </h5>
                </div>
                <div class="modal-body">
                    <ul class="index-modal-list">
                        <li class="index-modal-item"><i class="fa-solid fa-circle-right"></i> W warsztacie
                            <span class="index-modal-text">
                                Wiesz, ile realnie schodzi klocków, oleju, filtrów, a ile zostaje na półce
                            </span>
                        </li>
                        <li class="index-modal-item"><i class="fa-solid fa-circle-right"></i> W kwiaciarni
                            <span class="index-modal-text">
                                Widzisz, które bukiety „zjadają” najwięcej towaru i gdzie uciekają marże
                            </span>
                        </li>
                        <li class="index-modal-item"><i class="fa-solid fa-circle-right"></i> Budować projekty / „przepisy”
                            <span class="index-modal-text">
                                "Wymiana klocków hamulcowych”, „Bukiet ślubny”, „Zestaw prezentowy”
                            </span>
                        </li>
                        <li class="index-modal-item"><i class="fa-solid fa-circle-right"></i> W małym biznesie
                            <span class="index-modal-text">
                                Mniej patrzenia w kartony, więcej pracy z klientem
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>




    </div>
    <div class="modal-index">
        <div class="modal-dialog index">
            <div class="modal-content text-light bg-dark w-100 index">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Jak zacząć pracę z Magazynkiem?
                    </h5>
                </div>
                <div class="modal-body">
                    <ul class="index-modal-list">
                        <li class="index-modal-item"><i class="fa-solid fa-circle-right"></i> Dodaj produkty
                        <span class="index-modal-text">
                            Wpisz podstawowe rzeczy, którymi zarządzasz: nazwa, jednostka (szt., kg, m, opak.), opcjonalnie kategoria i minimalny stan
                        </span>
                        </li>
                        <li class="index-modal-item"><i class="fa-solid fa-circle-right"></i> Uzupełnij stany magazynowe
                        <span class="index-modal-text">
                            Wprowadź, ile danego produktu masz faktycznie na stanie. To będzie Twój punkt wyjścia.
                        </span>
                        </li>
                        <li class="index-modal-item"><i class="fa-solid fa-circle-right"></i> Zbuduj pierwsze projekty / przepisy
                        <span class="index-modal-text">
                            Warsztat: „Wymiana klocków + tarcze przód” ⇒ wybierz części i ilości<br />
                            Kwiaciarnia: „Bukiet standard” ⇒ dodaj kwiaty i dodatki <br />
                            Rękodzieło: „Świeca sojowa 200 ml” ⇒ wpisz składniki 
                        </span>
                        </li>
                        <li class="index-modal-item"><i class="fa-solid fa-circle-right"></i> Używaj projektów w codziennej pracy<br />
                        <span class="index-modal-text">
                            Za każdym razem, gdy wykonasz usługę lub przygotujesz produkt:<br />
                            Wybierz projekt, <br />
                            Zatwierdź realizację, <br />
                            Magazynek automatycznie odpisze zużyte produkty ze stanu!
                        </span>
                        </li>
                        <li class="index-modal-item"><i class="fa-solid fa-circle-right"></i> Pilnuj stanów i planuj zakupy<br />
                        <span class="index-modal-text">
                            Zaglądaj w listę produktów <br />
                            Reaguj, gdy zbliżasz się do minimalnych stanów, <br />
                            Aktualizuj stany po dostawach. <br />
                        </span>
                        </li>



                    </ul
                </div>
            </div>
        </div>
    </div>
</div>