@page "/settings"

@using Magazynek.Entities
@using Magazynek.Services

@inject ISystemSettingsService SystemSettingsService

<PageTitle>Ustawienia</PageTitle>

<div class="container mt-4">
    <table class="table table-dark table-striped table-hover align-middle">
        <thead class="table-dark border-bottom border-light">
            <tr>
                <th>Nazwa</th>
                <th>Parametr</th>
            </tr>
        </thead>
        <tbody>
            @for(int i = 0; i < settings.Count; i++)
            {
                int index = i;
                <tr>
                    <td>@settings[index].Name</td>
                    <td>
                        @switch(settings[index].Type)
                        {
                            case SystemSetting.SettingType.STRING:
                                <InputText class="form-control bg-dark text-light" @bind-Value="settings[index].Value" />
                                break;
                            case SystemSetting.SettingType.INT:
                                <InputNumber class="form-control bg-dark text-light" @bind-Value="settings[index].I_Value" />
                                break;
                            case SystemSetting.SettingType.FLOAT:
                                <InputNumber class="form-control bg-dark text-light" @bind-Value="settings[index].F_Value" />
                                break;
                            case SystemSetting.SettingType.BOOL:
                                <InputCheckbox class="form-control bg-dark text-light" @bind-Value="settings[index].B_Value" />
                                break;
                            case SystemSetting.SettingType.ARRAY:
                                <EditableListPresentation @ref="editableListRef" Items="settings[index].A_Value"/>
                                break;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table> 
    <button type="submit" class="btn btn-success" @onclick="SaveSettings"><i class="fa-solid fa-floppy-disk"></i></button>
</div>


@code {
    private List<SystemSetting> settings = new List<SystemSetting>();
    private EditableListPresentation? editableListRef;



    protected override async Task OnParametersSetAsync()
    {
        settings = await SystemSettingsService.GetSettings();
        settings.Sort((SystemSetting a, SystemSetting b) => a.SName.CompareTo(b.SName));
    }

    private async Task SaveSettings()
    {
        foreach (SystemSetting setting in settings)
        {
            if(setting.Type == SystemSetting.SettingType.ARRAY && editableListRef != null)
            {
                setting.A_Value = editableListRef.GetItems();
            }
            await SystemSettingsService.SaveSetting(setting);
        }
    }
}