@page "/settings"

@using Magazynek.Entities
@using Magazynek.Services
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;


@inject IJSRuntime JS
@inject ISystemSettingsService SystemSettingsService
@inject ISessionService SessionService
@inject ProtectedSessionStorage SessionStorage
@inject NavigationManager NavigationManager


<PageTitle>Ustawienia</PageTitle>

<div class="container mt-4">
    <table class="table table-dark table-striped table-hover align-middle">
        <thead class="table-dark border-bottom border-light">
            <tr>
                <th>Nazwa</th>
                <th>Parametr</th>
            </tr>
        </thead>
        <tbody>
            @for(int i = 0; i < settings.Count; i++)
            {
                int index = i;
                <tr>
                    <td>@settings[index].Name</td>
                    <td>
                        @switch(settings[index].Type)
                        {
                            case SystemSetting.SettingType.STRING:
                                <InputText class="form-control bg-dark w-100 text-light" @bind-Value="settings[index].Value" />
                                break;
                            case SystemSetting.SettingType.INT:
                                <InputNumber class="form-control bg-dark w-100 text-light" @bind-Value="settings[index].I_Value" />
                                break;
                            case SystemSetting.SettingType.FLOAT:
                                <InputNumber class="form-control bg-dark w-100 text-light" @bind-Value="settings[index].F_Value" />
                                break;
                            case SystemSetting.SettingType.BOOL:
                                <InputCheckbox class="form-control bg-dark text-light" @bind-Value="settings[index].B_Value" />
                                break;
                            case SystemSetting.SettingType.ARRAY:
                                <EditableListPresentation
                                    @ref="editableListRef[settings[index].id]"
                                    Items="settings[index].A_Value" />
                                break;
                            case SystemSetting.SettingType.ARRAY_STATIC_SIZE:
                                <StaticSizeListPresentation 
                                    @ref="staticSizeLists[settings[index].id]"
                                    Items="settings[index].A_Value" />
                                break;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table> 
    <button type="submit" class="btn btn-success space-top lg" @onclick="SaveSettings"><i class="fa-solid fa-floppy-disk"></i></button>
</div>


@code {
    private List<SystemSetting> settings = new List<SystemSetting>();


    private Dictionary<Guid, EditableListPresentation?> editableListRef = new ();

    private Dictionary<Guid, StaticSizeListPresentation?> staticSizeLists = new ();




    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if(firstRender)
        {
            User? loggedUser = await SessionService.GetLoggedUser(SessionStorage);
            if(loggedUser == null) return;

            settings = await SystemSettingsService.GetSettings(loggedUser);
            settings.Sort((SystemSetting a, SystemSetting b) => a.SName.CompareTo(b.SName));

            foreach (SystemSetting s in settings)
            {
                if(s.Type == SystemSetting.SettingType.ARRAY && !editableListRef.ContainsKey(s.id)) 
                    editableListRef.Add(s.id, null);
                if(s.Type == SystemSetting.SettingType.ARRAY_STATIC_SIZE && !staticSizeLists.ContainsKey(s.id))
                    staticSizeLists.Add(s.id, null);
            }

            StateHasChanged();
        }
    }

    private async Task SaveSettings()
    {
        foreach (SystemSetting setting in settings)
        {


            if(setting.Type == SystemSetting.SettingType.ARRAY)
            {
                List<string> newList = new List<string>();
                if (editableListRef.TryGetValue(setting.id, out var comp) && comp is not null)
                    newList = comp.GetItems();

                if(SystemSetting.HasInvalidCharacters(newList))
                {
                    await JS.InvokeVoidAsync("ui.toast", $"Ustawienie {setting.Name} zawiera niedozwolone znaki.", "error");
                    return;
                }

                setting.A_Value = newList;
            }
            if(setting.Type == SystemSetting.SettingType.ARRAY_STATIC_SIZE)
            {
                List<string> newList = new List<string>();
                if (staticSizeLists.TryGetValue(setting.id, out var comp) && comp is not null)
                    newList = comp.GetItems().ToList();

                if(SystemSetting.HasInvalidCharacters(newList))
                {
                    await JS.InvokeVoidAsync("ui.toast", $"Ustawienie {setting.Name} zawiera niedozwolone znaki.", "error");
                    return;
                }
                 
                setting.A_Value = newList;
            }

            await SystemSettingsService.SaveSetting(setting);
        }
        await JS.InvokeVoidAsync("ui.toast", "Zapisano", "success");
    }
}