@using System.ComponentModel.DataAnnotations


<div class="container text-center no-margin-padding">
    <div class="row-items">
        @for(int i = 0; i < LocalItems.Count; i++)
        {
            int index = i;
            <div class="flex-grow-1">
                <input class="form-control bg-dark text-light"
                    value="@LocalItems[index]"
                    @oninput="(e => OnInputChanged(index, e))" />
            </div>
        }
        <div class="flex-grow-1">
            <button class="btn btn-success" type="button" @onclick="() => { LocalItems.Add(newValue); }">
            <i class="fa-solid fa-plus"></i>
            </button>
        </div>
    </div>
</div>




@code {
    [Parameter] [Required] public List<string> Items { get; set; } = new List<string>();
    private List<string> LocalItems { get; set; } = new List<string>();

    public List<string> GetItems() => LocalItems;
    private string newValue = "Nowy";

    protected override void OnParametersSet()
    {
        if(LocalItems.Count == 0) LocalItems = new List<string>(Items);
    }
    private void OnInputChanged(int index, ChangeEventArgs e)
    {
        if (index < 0 || index >= LocalItems.Count) return;
        LocalItems[index] = e.Value?.ToString() ?? string.Empty;
    }

}