@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IHttpContextAccessor HttpContextAccessor

<PageTitle>Magazynek</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="main">
        @Body
    </div>
    <footer>
        © @(DateTime.Now.Year) Ants Lab. All rights reserved.
    </footer>
</div>