@inject IHttpContextAccessor HttpContextAccessor



<div class="top-row navbar navbar-dark">
    <div class="container-fluid">
        <img src="aants_full_white.png" alt="ANTSLAB" height="56">
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/do-project">
                <i class="fa-solid fa-industry"></i> Realizacje
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/projects">
                <i class="fa-solid fa-folder-tree"></i> Projekty
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <i class="fa-solid fa-box-open"></i> Ilości
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/products">
                <i class="fa-solid fa-screwdriver-wrench"></i> Produkty
            </NavLink>
        </div>

        <div class="menu-spacer"></div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/settings">
                <i class="fa-solid fa-user-gear"></i> Ustawienia konta
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/system-settings">
                <i class="fa-solid fa-sliders"></i> Ustawienia systemu
            </NavLink>
        </div>
    </nav>
</div>
