@using Magazynek.Data
@using Magazynek.Entities.Models
@using System.ComponentModel.DataAnnotations


<div class="input-group floating no-suffix">
    <span class="addon" aria-hidden="true"><i class="fa-solid fa-key"></i></span>
    <input 
        @bind="password"
        @bind:event="oninput"
        @bind:after="OnPasswordInput"
        id="password"
        type="@passwordInputType"
        class="form-control login"
        placeholder="hasło" />
    <button type="button"
        class="addon-btn"
        @onclick="TogglePassword"
        aria-label="Pokaż/ukryj hasło">
        <i class="@(passwordInputType == PasswordViewType.password? "fa-solid fa-eye" : "fa-solid fa-eye-slash")"></i>
    </button>
    <div class="password-strength @PasswordMeter.Evaluate(password).ToString()"</div>
</div>


@code {
    enum PasswordViewType
    {
        password,
        text
    }

    [Parameter] [Required] public EventCallback<string> PasswordChanged { get; set; }
    string password { get; set; } = string.Empty;

    PasswordViewType passwordInputType { get; set; } = PasswordViewType.password;

    public void TogglePassword()
    {
        if (passwordInputType == PasswordViewType.password) passwordInputType = PasswordViewType.text;
        else passwordInputType = PasswordViewType.password;
    }

    void OnPasswordInput()
    {
        PasswordChanged.InvokeAsync(password);
    }
        

}

