.page[b-tlnfnet7qc] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-tlnfnet7qc] {
    flex: 1;
    background-color: #383838;
    color: #e0e0e0;
    padding: 2em;
}
.center[b-tlnfnet7qc] {
    text-align: center !important;
    justify-content: center !important;
}
.btn-process[b-tlnfnet7qc] {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-process:hover[b-tlnfnet7qc] {
    background-color: #45a049;
}

.btn-process i[b-tlnfnet7qc] {
    margin-left: 0.5rem;
}

.sidebar[b-tlnfnet7qc] {
    background-image: linear-gradient(180deg, #2a2a2a 0%, #383838 100%);
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.6);
}

.top-row[b-tlnfnet7qc] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-tlnfnet7qc]  a, .top-row .btn-link[b-tlnfnet7qc] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-tlnfnet7qc] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-tlnfnet7qc] {
        display: none;
    }

    .top-row.auth[b-tlnfnet7qc] {
        justify-content: space-between;
    }

    .top-row a[b-tlnfnet7qc], .top-row .btn-link[b-tlnfnet7qc] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-tlnfnet7qc] {
        flex-direction: row;
    }

    .sidebar[b-tlnfnet7qc] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-tlnfnet7qc] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-tlnfnet7qc], article[b-tlnfnet7qc] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
